@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

* {
  font-family: "Inter", sans-serif !important;
}


body {
  background: var(--background);
  color: var(--foreground);
}